.main {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid;
  padding: 1rem;
}

input {
  font-size: 1.5rem;
  margin: 1rem;
}

.submit {
  /*noinspection CssInvalidPropertyValue*/
  width: -webkit-fill-available;
}